h2 {
    text-align: center;
    color: whitesmoke;
}

h5 {
    text-align: center;
    color: whitesmoke;
}

p {
    margin-left: 10%;
    margin-right: 10%;
    justify-content: center;
    color: whitesmoke;
    text-align: justify;
}

li {
    margin-left: 10%;
    margin-right: 10%;
    justify-content: center;
    color: whitesmoke;
}

.legal-notice {
    background-color: black;
}